* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body::-webkit-scrollbar {
  background-color: rgba(255, 252, 240, 0);
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 242, 113);
  border-radius: 11px;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 34px;
  border: 0.3px solid rgba(135, 135, 135, 0.593);
  border-right: none;
  border-right: none;
  max-height: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.under-navbar img {
  width: 3.3rem;
}
.color {
  color: rgba(255, 0, 0, 0.692);
}
#under-navbar1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  text-align: center;
  font-size: 12px;
  padding: 110px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.navbar-manu {
  align-self: center;
}
.navbar-manu-diff {
  position: relative;
  bottom: 9px;
}
#under-navbar1 .gift-nav-image img {
  width: 50px;
  position: relative;
  top: 5px;
}

.navbar-manu:hover,.gift-nav-image:hover{
color: rgba(16, 159, 40, 0.823);
}

#under-navbar2 {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* offer part of the daily object */

#offer {
  height: 30%;
}
#offer img {
  width: 100%;
}

/* sliding image part */
#sliding-images {
  background-color: black;
  height: 70vh;
  color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
#sliding-images > .under-sliding {
  border: 2px solid white;
  width: 30%;
  height: 80%;
}
.under-sliding h2 {
  position: absolute;
  top: 60%;
  left: 7%;
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
.under-sliding {
overflow: hidden;
}
.under-sliding img{
width: 100%;
height: 100%;
}

/* shop categories section of this website  */

#shop-categories {
  display: flex;
  height: 60vh;
  padding: 55px;
  padding-right: 10px;
}
#shop-categories .under-shop-categories {
}
.first-categories {
  width: 25%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin-right: 50px;
}
.first-categories h1 {
  font-family: "Trade Gothic LT Pro", sans-serif !important;
  font-size: 18px;
  margin-bottom: 5px;
}
.first-categories p {
  font-family: "Trade Gothic LT Pro", sans-serif !important;
  font-size: 14px;
}
.under-shop-categories ~ .under-shop-categories {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  padding: 30px;
}
.categories {
  border: 2px solid black;
}

/* backpack image */

#backpack {
  height: 90%;
  margin-bottom: 40px;
}
#backpack > img {
  width: 100%;
}

/* studio collection section  */

#studio-collection {
  padding: 40px;
  margin-bottom: 20px;
}
#studio-collection #studio-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 27px;
}
#allstudio-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
#allstudio-collection img {
  width: 100%;
}
.under-studio-collection h2 {
  font-size: 19px;
}
.under-studio-collection p {
  font-size: 15px;
  margin-bottom: 8px;
}
.under-studio-collection button {
  border: none;
  text-decoration: underline;
  font-size: 16px;
  background-color: transparent;
}

/* messengers bagss section  */

#messenger-bags {
  height: 90%;
}
#messenger-bags img {
  width: 100%;
}

/* new arrivals section */

#new-arrivals {
  display: flex;
  height: 60vh;
  padding: 55px;
  padding-right: 10px;
}
.under-new-arrivals {
  width: 25%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin-right: 50px;
}
.under-new-arrivals h1 {
  font-family: "Trade Gothic LT Pro", sans-serif !important;
  font-size: 18px;
  margin-bottom: 5px;
}
.under-new-arrivals p {
  font-family: "Trade Gothic LT Pro", sans-serif !important;
  font-size: 16px;
}

#parentof-categories2 {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  padding: 30px;
}
.categories2 {
  border: 2px solid black;
}

/* charging solutions and work solution  */

#charge-and-work-solution {
  padding: 40px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
#charge-and-work-solution img {
  width: 100%;
  margin-bottom: 5px;
}
.under-charge-and-work h2 {
  font-size: 19px;
}
.under-charge-and-work button {
  border: none;
  text-decoration: underline;
  font-size: 16px;
  background-color: transparent;
}


/* watch band image  */
#watch-brand {
  height: 90%;
}
#watch-brand img {
  width: 100%;
}

/* colletion part of this website */

#collection {
  padding: 40px;
  margin-bottom: 20px;
}
#collection #collection-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 10px;
}
#view-all {
  text-align: right;
  margin-bottom: 15px;
}
#perentof-under-the-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
#perentof-under-the-collection img {
  width: 100%;
  margin-bottom: 5px;
}
#perentof-under-the-collection h2 {
  font-size: 19px;
}
#perentof-under-the-collection p {
  font-size: 15px;
  margin-bottom: 8px;
}
#perentof-under-the-collection button {
  border: none;
  text-decoration: underline;
  font-size: 16px;
  background-color: transparent;
}

/* organiser image of this website */

#organiser {
  height: 90%;
  margin-bottom: 70px;
}
#organiser img {
  width: 100%;
}

/* corporate gifting image  */

#corporate-gifting {
  height: 90%;
}
#corporate-gifting img {
  width: 100%;
}

/* our story portion this this website */
#our-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 55px;
}
#our-story img {
  width: 100%;
}
#our-story #our-story-title {
  font-size: 40px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
#our-story p {
  margin-bottom: 20px;
  font-size: 17px;
}
#our-story button {
  border: none;
  text-decoration: underline;
  font-size: 16px;
  background-color: transparent;
}

/* @dailyobject _ ofiicial feateatured in part */
#daily-official {
  height: 20rem;
  border: 0.3px solid rgba(128, 128, 128, 0.284);
  border-right: none;
  border-left: none;
  padding: 40px;
  padding-bottom: 50px;
}
#daily-official h2 {
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
}
#daily-object-image {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 25px;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* #daily-object-image::-webkit-scrollbar{
display: none
} */
#daily-object-image img {
  width: 18vw;
}

/* featured in part  */

#featured-in {
  padding: 20px;
  padding-bottom: 50px;
  height: 40%;
  border-bottom: 0.3px solid rgba(128, 128, 128, 0.284);
}
#featured-in p {
  text-align: center;
  font-weight: 1000;
  font-size: 30px;
}
#featured-in img {
  width: 80%;
  display: block;
  margin: auto;
}

/* GET EXCLUSIVE ACCESS TO NEW PRODUCTS, DEALS & SURPRISE TREATS */
